{% extends 'main/main-base.html' %}
{% load static %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <a href="#">
        <h1 class="h3 mb-2 text-gray-800">Write Services</h1>
    </a>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-12">
            <!-- Service -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="m-0 font-weight-bold text-primary text-center">Service</h2>
                </div>
                <div class="card-body">
                    
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container-fluid -->


{% endblock content %}